.container{
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
}
.profile-pic{
    height: 200px;
    width: 200px !important;
    margin: 0px auto;
}

.head{
    margin: 20px 0 !important;
    background: #efa182;
    color: #fff;
}

.personal-details p{
margin-bottom: 4px !important;

}

.about-me-heading{
    text-decoration: underline;
}

.project-details{
    padding: 10px;
    height: auto;
    /* width: 200px; */
    border: 1px solid #000;
}

.education-degree{
    font-style: italic;
}

.project-details img{
    width: 100px;
    height: 100px;
    
}

.project-details #slack{
    width: 150px;
    height: 100px;
}

.project-details p{
    float: right;
    margin-top: 19px;
    font-size: 20px;
    margin-right: 20px;
}

.project-details-descriptions{
    font-size: 15px;
    float: left;

} 

.education{
    margin-top: 24px !important;
}
.about{
    margin-top: 24px !important;

}

.project{
    margin-top: 24px !important;

}

.skill-icons img{
    width: 50px;
    height: 50px;
    margin-right: 50px;
    margin-top: 20px;
}

.profile-pic #profile-image {
    border-radius: 100px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 0px auto;
}

.education{
    margin-bottom: 100px;
}

.footer{
    font-style: italic;
    font-size: 20px;
    text-align: center;
}

@media only screen and (max-width:799px){
    .project-details{
      margin: 10px;
    }
    .profile-pic #profile-image{
        width: 150px;
        height: 150px;
    }
}